<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.windows.proyectopersonal" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_principal" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".materias"
            android:label="@string/title_activity_materias" >
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".registrotareas"
            android:label="@string/title_activity_registrotareas"
            android:parentActivityName=".mostrartareas" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mostrartareas" />
        </activity>
        <activity
            android:name=".registromaterias"
            android:label="@string/title_activity_registromaterias"
            android:parentActivityName=".mostrartareas" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mostrartareas" />
        </activity>
        <activity
            android:name=".editartarea"
            android:label="@string/title_activity_editartarea"
            android:parentActivityName=".mostrartareas" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mostrartareas" />
        </activity>
        <activity
            android:name=".eliminartarea"
            android:label="@string/title_activity_eliminartarea"
            android:parentActivityName=".mostrartareas" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mostrartareas" />
        </activity>
        <activity
            android:name=".mostrartareas"
            android:label="@string/title_activity_mostrartareas"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".registro"
            android:label="@string/title_activity_registro" >
        </activity>
    </application>

</manifest>
